.nav-tabs {
  --bs-nav-tabs-link-active-color: #77b78b !important;
}

.div-container {
  padding: 0 40px;
}



footer {
  width: 100%;
  position: fixed;
  justify-content: space-around;
  bottom: 0;
}
