html,
body {
  height: 100vh;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  color: var(--bs-nav-link-color);
  text-decoration: none;
}

a:hover {
  color: #00a0c6;
  text-decoration: underline;
  cursor: pointer;
}

.App {
  flex: 1;
}

.card-container {
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  margin: 3px;
}

.footer {
  padding: 1rem;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer-icon {
  margin: 0 0.5rem;
}
.hover-link {
  color: #0060b6;
  text-decoration: none;
  cursor: pointer;
}
.image-overflow {
  overflow: scroll;
  height: 100%;
  width: 100%;
}
